body {
  padding-top: 50px;
  
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: red;
}
